/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.info {
  float: right;
  width: 70%;
  /*display: inline-block;*/
  /*clear: right;*/
}

.img {
  float: left;
  width: 30%;
  /*display: inline;*/
}

/*d3*/

.main text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  shape-rendering: crispEdges;
  stroke: black;
  fill: none;
}

circle {
  fill: #1d31b4;
}

.chart-header {
  margin-left: 440px;
  margin-top: 30px;
}

.numGamesInput {
  margin-left: 25px;
}