<!--TODO: put team picture. get team ID-->
<!--TODO: add number validation for number of games input-->
<div class="container col-md-8 col-md-offset-2">
  <h1>BasketStat</h1>

  <form method="get" ng-submit="getData(query)" class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" name="name" ng-model="query" autofocus placeholder="Enter your favorite player here" size="30">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form><br>

  <div ng-show="idExists">
    <!--<span>-->
    <div>
    <img src="http://stats.nba.com/media/players/230x185/{{id}}.png">
    <!--<img src="http://stats.nba.com/teamStats.html?TeamID={{teamId}}&ls=iref:playerHeadshotStatsTeamPage">-->

    <table class="table table-striped info">
      <tr>
        <td>Name: {{info.displayFirstLast}}</td>
        <td>Birthday: {{info.bIRTHDATE.slice(0, 10)}}</td>
      </tr>
      <tr>
        <td>Team Name: {{info.teamCity}} {{info.teamName}}</td>
        <td>Country: {{info.cOUNTRY}}</td>
      </tr>
      <tr>
        <td>Height: {{info.hEIGHT}}</td>
        <td>Weight: {{info.wEIGHT}}</td>
      </tr>
      <tr>
        <td>NBA Experience: {{info.seasonExp}} years ({{info.fromYear}}-{{info.toYear}})</td>
        <td>Position: {{info.pOSITION}}</td>
      </tr>
      <tr>
        <td>Roster Status: {{info.rOSTERSTATUS}}</td>
        <td>School: {{info.sCHOOL}}</td>
      </tr>
    </table>

      </div>
      <!--</span>-->

    <table class="table table-striped table-hover table-bordered">
      <tr>
        <td>Season</td>
        <td>GP</td>
        <td>W</td>
        <td>L</td>
        <td>MIN</td>
        <td>FGM</td>
        <td>FGA</td>
        <td>FG%</td>
        <td>3PM</td>
        <td>3PA</td>
        <td>3P%</td>
        <td>FTM</td>
        <td>FTA</td>
        <td>FT%</td>
        <td>ORB</td>
        <td>DRB</td>
        <td>TRB</td>
        <td>AST</td>
        <td>TOV</td>
        <td>STL</td>
        <td>BLK</td>
        <td>BLKA</td>
        <td>PF</td>
        <td>+-</td>
        <td>PTS</td>
      </tr>

      <tr ng-show="dataTwo">
        <td>2013-2014</td>
        <td>{{dataTwo.gP}}</td>
        <td>{{dataTwo.w}}</td>
        <td>{{dataTwo.l}}</td>
        <td>{{dataTwo.mIN}}</td>
        <td>{{dataTwo.fGM}}</td>
        <td>{{dataTwo.fGA}}</td>
        <td>{{dataTwo.fgPct}}</td>
        <td>{{dataTwo.fG3M}}</td>
        <td>{{dataTwo.fG3A}}</td>
        <td>{{dataTwo.fg3Pct}}</td>
        <td>{{dataTwo.fTM}}</td>
        <td>{{dataTwo.fTA}}</td>
        <td>{{dataTwo.ftPct}}</td>
        <td>{{dataTwo.oREB}}</td>
        <td>{{dataTwo.dREB}}</td>
        <td>{{dataTwo.rEB}}</td>
        <td>{{dataTwo.aST}}</td>
        <td>{{dataTwo.tOV}}</td>
        <td>{{dataTwo.sTL}}</td>
        <td>{{dataTwo.bLK}}</td>
        <td>{{dataTwo.bLKA}}</td>
        <td>{{dataTwo.pF}}</td>
        <td>{{dataTwo.plusMinus}}</td>
        <td>{{dataTwo.pTS}}</td>
      </tr>

      <tr>
        <td>2014-2015</td>
        <td>{{profile.gP}}</td>
        <td>{{profile.w}}</td>
        <td>{{profile.l}}</td>
        <td>{{profile.mIN}}</td>
        <td>{{profile.fGM}}</td>
        <td>{{profile.fGA}}</td>
        <td>{{profile.fgPct}}</td>
        <td>{{profile.fG3M}}</td>
        <td>{{profile.fG3A}}</td>
        <td>{{profile.fg3Pct}}</td>
        <td>{{profile.fTM}}</td>
        <td>{{profile.fTA}}</td>
        <td>{{profile.ftPct}}</td>
        <td>{{profile.oREB}}</td>
        <td>{{profile.dREB}}</td>
        <td>{{profile.rEB}}</td>
        <td>{{profile.aST}}</td>
        <td>{{profile.tOV}}</td>
        <td>{{profile.sTL}}</td>
        <td>{{profile.bLK}}</td>
        <td>{{profile.bLKA}}</td>
        <td>{{profile.pF}}</td>
        <td>{{profile.plusMinus}}</td>
        <td>{{profile.pTS}}</td>
      </tr>

      <tr>
        <td>Career Avg</td>
        <td>{{careerAvg.gP}}</td>
        <td>{{careerAvg.w}}</td>
        <td>{{careerAvg.l}}</td>
        <td>{{careerAvg.mIN}}</td>
        <td>{{careerAvg.fGM}}</td>
        <td>{{careerAvg.fGA}}</td>
        <td>{{careerAvg.fgPct}}</td>
        <td>{{careerAvg.fG3M}}</td>
        <td>{{careerAvg.fG3A}}</td>
        <td>{{careerAvg.fg3Pct}}</td>
        <td>{{careerAvg.fTM}}</td>
        <td>{{careerAvg.fTA}}</td>
        <td>{{careerAvg.ftPct}}</td>
        <td>{{careerAvg.oREB}}</td>
        <td>{{careerAvg.dREB}}</td>
        <td>{{careerAvg.rEB}}</td>
        <td>{{careerAvg.aST}}</td>
        <td>{{careerAvg.tOV}}</td>
        <td>{{careerAvg.sTL}}</td>
        <td>{{careerAvg.bLK}}</td>
        <td>{{careerAvg.bLKA}}</td>
        <td>{{careerAvg.pF}}</td>
        <td>{{careerAvg.plusMinus}}</td>
        <td>{{careerAvg.pTS}}</td>
      </tr>
    </table>

    <!--{{ info }}-->
    <!--<br><br>-->
    <!--{{ profile }}-->
    {{test}}
    <h3 class="chart-header">Points scored in last {{numGames}} games</h3>
    <form ng-submit="displayChart(data)" class="form-inline col-md-offset-4">
      <input ng-model="numGames" class="form-control numGamesInput">
      <button type="submit" class="btn btn-default">Change number of games</button>
    </form>


    <div class='content'>
      <!-- /the chart goes here -->
    </div>


    <h3 class="chart-header">Plus-Minus in last {{numGamesTwo}} games</h3>
    <form ng-submit="displayChart(data, 'contentTwo')" class="form-inline col-md-offset-4">
      <input ng-model="numGamesTwo" class="form-control numGamesInput">
      <button type="submit" class="btn btn-default">Change number of games</button>
    </form>

    <div class="contentTwo">

    </div>


  {{pointsPerGame}}
  </div>

</div>

